@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">UniqueDrinks</h1>
    <h4 class="active">A vida é curta demais para beber whiskey de má qualidade!!!</h4>
    <br />
    <img class="img-fluid" src="~/Imagens/menuBar.jpg" />
</div>